*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.center{
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.heder{
    padding-top: 45px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.logo_img {
    padding-right: 14px;
}

.logo_name{
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.menu{
    padding-left: 500px;
    display: flex;
    gap: 20px;
}

.heder_menu_home{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #F25822;
    font-family: Gilroy-SemiBold;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.heder_menu{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #000;
    font-family: Gilroy-Medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.top{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 41px;
    padding-top: 87px;
    padding-bottom: 162px;
}

.title{
    width: 522px;
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 89;
    padding-bottom: 17px;
}

.title_text{
    width: 466px;
    color: #888;
    font-family: Gilroy-Medium;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.top_button{
    padding-top: 37px;
}

.button_start{
    width: 140px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-style: none;
}

.button_video{
    width: 140px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50px;
    border-style: none;
    background: white;
    color: #AAA;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer{
    padding-top: 97px;
    padding-bottom: 96px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.advantages{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 60px;
    margin: 100px 60px;
}

.title2{
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 25px;
}

.text2{
    width: 310px;
    height: 42px;
    flex-shrink: 0;
    color: #666;
    font-family: Gilroy-Regular;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding-top: 17px;
    padding-bottom: 25px;
}

.button2{
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    border-style: none;
    background-color: #FFF
}

.item2{
    background: #FFF;
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
    padding-top: 40px;
    padding-left: 30px;
    padding-bottom: 25px;
}

.item1{
    padding-top: 40px;
    padding-bottom: 25px;
}

.item3{
    padding-top: 40px;
    padding-bottom: 25px;
}

.choose{
    background-color: #FAFAFA;
    display: grid;
    grid-template-columns: auto auto auto;
    padding-top: 92px;
    padding-bottom: 100px;
    gap: 30px;

}

.item4{
    grid-column: 1/4;
    text-align: center;
    padding-bottom: 50px;
    margin-left: 250px;
    margin-right: 260px;
}

.title3{
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 19px;
}

.text3{
    color: #666;
    text-align: center;
    font-family: Gilroy-Regular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.item5{
    margin-top: 20px;
    background-color: #FFF;
    text-align: center;
    padding-bottom: 50px;
}

.item6{
    margin-top: 4px;
    background-color: #FFF;
    text-align: center;
    padding-bottom: 50px;
}

.item7{
    background-color: #FFF;
    text-align: center;
    padding-bottom: 50px;
}

.text4{
    color: #AAA;
    font-family: Gilroy-Regular;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-top: 22px;
    margin-bottom: 39px;
}

